/latex/pi.aux
/latex/pi.lof
/latex/pi.log
/latex/pi.lot
/latex/pi.out
/latex/pi.pdf
/latex/pi.synctex.gz
/latex/pi.toc
/latex/pi.dvi

/latex/pi-2.aux
/latex/pi-2.lof
/latex/pi-2.log
/latex/pi-2.lot
/latex/pi-2.out
/latex/pi-2.pdf
/latex/pi-2.synctex.gz
/latex/pi-2.toc
/latex/pi-2.dvi

/latex/pi-3.aux
/latex/pi-3.lof
/latex/pi-3.log
/latex/pi-3.lot
/latex/pi-3.out
/latex/pi-3.pdf
/latex/pi-3.synctex.gz
/latex/pi-3.toc
/latex/pi-3.dvi
